---
import Card from "~/components/Card.astro";
import Layout from "~/layouts/Layout.astro";

import { getCollection } from "astro:content";
// import type { AlbumQueryData } from "~/types";

const posts = (await getCollection("albums")).sort(
  (a, b) => a.data.release_date.valueOf() - b.data.release_date.valueOf(),
);
---

<Layout title="Favorite Music" description="My favorite albums.">
  <section class="py-8">
    <div
      class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex items-center flex-wrap pt-4 pb-12"
    >
      <!-- <h2 class="font-bold text-3xl text-black tracking-tight mb-12">
        Recently Played
      </h2> -->

      <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        {
          posts.map((post) => (
            <Card
              id={post.slug}
              name={post.data.album}
              artist={post.data.artist}
              image_url={post.data.cover_art_url}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
